@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
}

h3 {
  padding-top: 60px;
  padding-bottom: 10px;
}

p {
  padding: 5px 0px;
}

.App {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: #000000;
  color: #f0f0ff;
  text-align: center;
  height: 100vh;
}

.app-title {
  background: #141414;
  font-size: 35px;
  padding: 10px;
}

.app-form {
  padding-top: 35px;
}

.app-input {
  padding: 8px;
  width: 200px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #000000;
}

.app-button {
  padding: 8px;
  width: 80px;
  margin-left: 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #000000;
  font-weight: bold;
}

.app-form button:hover {
  background: #9146ff;
  color: white;
  cursor: pointer;
}
